

{{#each posts as |post| }}

<div class="ui message">
  <div class="header">
   <a class="text-info" href="/posts/{{id}}">{{title}}</a>
  </div>
  <p> {{description}}</p>
<p>Post by {{user.name}} on {{format_date date_created}} </p>
</div>


 {{/each}}